@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald:wght@500&display=swap');


 *{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}
body{
    background: linear-gradient(to right, rgb(71, 70, 70)0%,rgb(119, 117, 170)100%,rgb(66, 66, 66)50%);
}

li,a,button,.table{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    color:rgb(29, 29, 29);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}


.nav__links li a{
    transition: all 0.3s ease 0s;
}


.nav__links li a:hover{
    color:rgba(29, 29, 29,0.5);
}

button{
    padding: 9px 25px;
    background-color: rgb(187, 187, 187);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(187, 187, 187,0.7);
}

p{
    font-family: 'Oswald', sans-serif;
}

div{
    font-family: 'Oswald', sans-serif;
}

.table{
    align-items: center;
    padding: 0;
    justify-content: center;
}