@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald:wght@500&display=swap');

body{
    background:linear-gradient(90deg,rgb(1,1,1),rgb(198, 3, 3) 1%,rgb(45, 26, 192));
}

.button{
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}